.root {
    -fx-primary-color: #1DB954;
    -fx-surface-color: #1F1F1F;
    -fx-text-color: #FFFFFF;
    -fx-background-color: #121212;
}

AnchorPane,
HBox,
VBox,
BorderPane,
StackPane,
GridPane {
    -fx-background-color: #121212;
}

.scroll-pane,
.scroll-pane .viewport,
.scroll-pane .content {
    -fx-background-color: #121212;
    -fx-border-color: transparent;
}

.button {
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-padding: 8px 16px;
    -fx-border-color: #1ed760;
    -fx-border-radius: 20px;
}

.button:hover {
    -fx-background-color: #1ed760;
    -fx-cursor: hand;
}


.sidebar-btn {
    -fx-background-color: #121212;
    -fx-padding: 10px 15px;
    -fx-cursor: hand;
    -fx-transition: -fx-scale-x 0.15s ease-out, -fx-scale-y 0.15s ease-out;
}

.sidebar-btn:hover {
    -fx-cursor: hand;
}

.sidebar-btn:hover .label {
    -fx-text-fill: #ffffff;
}

.text-area {
    -fx-background-color: #1F1F1F;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #333333;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8px;
}

.text-area:focused {
    -fx-border-color: #1DB954;
}