.hbox-container {
    -fx-spacing: 0;
    -fx-alignment: center;
}

.login-container {
    -fx-background-color: #011f4b;
    -fx-pref-width: 200;
    -fx-pref-height: 400;
}


.login_box {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15;
    -fx-background-color: #e4edf2;
    -fx-pref-width: 400;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-pref-height: 400;
}

.wlc_text{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}



.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-text-fill: #b3b3b3;

    /* AGGIUNGI QUESTE RIGHE */
    -fx-alignment: center;       /* Allinea il contenuto della label al centro */
    -fx-max-width: infinity;     /* Permette alla label di espandersi quanto i campi */
    -fx-text-alignment: center;  /* Centra il testo internamente */
}

.button{
    -fx-background-color: #3E3E3E;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #A7A7A7;
    -fx-max-width: 200;
    -fx-pref-height: 30;
}

.text-field{
    -fx-background-color: #e4edf2;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -fx-border-color: black;
    -fx-max-width: 200;
    -fx-pref-height: 30;
}

.choice-box{
    -fx-background-color: #e4edf2;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -fx-border-color: black;
    -fx-max-width: 200;
    -fx-pref-height: 30;
}