.hbox-container {
    -fx-spacing: 0;
    -fx-alignment: center;
}

.login-container {
    -fx-background-color: linear-gradient(to bottom right,#011f4b ,#0e1111);
    -fx-pref-width: 200;
    -fx-pref-height: 400;
}


.login_box {
    -fx-font-family: "Montserrat";
    -fx-font-size: 15;
    -fx-text-fill: red;
    -fx-background-color: #0e1111;
    -fx-pref-width: 400;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-pref-height: 400;
}

.wlc_text{
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
    -fx-fill: #011f4b;
    -fx-font-size: 25px;
    -fx-letter-spacing: -1px;
}



.label {
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
    -fx-text-fill: #b3b3b3;
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-text-alignment: center;
}

.button{
    -fx-background-color: #011f4b;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #011f4b;
    -fx-max-width: 200;
    -fx-pref-height: 30;
}

.text-field{
    -fx-background-color: #e4edf2;
    -fx-text-fill: black;
    -fx-border-color: #011f4b;
    -fx-border-width: 0.1;
    -fx-max-width: 200;
    -fx-pref-height: 30;
}

.choice-box{
    -fx-background-color: #e4edf2;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #011f4b;
    -fx-border-color: #011f4b;
    -fx-border-width: 0.1;
    -fx-max-width: 200;
    -fx-pref-height: 30;
}