.vbox{
    -fx-alignment: center;
    -fx-background-color: #e4edf2;
    -fx-padding: 20;
    -fx-spacing: 10;
}

.vbox_textfield .text-field {
    -fx-background-color: transparent; /* Rimuove lo sfondo grigio standard */
    -fx-border-color: #011f4b;         /* Il tuo blu scuro */
    -fx-border-width: 0 0 1 0;         /* Spessore 1px solo sotto */
    -fx-text-fill: #011f4b;            /* Colore del testo che scrivi */
    -fx-prompt-text-fill: #b3b3b3;     /* Colore del testo suggerito (es. "Username") */
    -fx-padding: 8 0 8 0;              /* Più spazio sopra e sotto il testo */
    -fx-font-size: 14px;
}

.text{
    -fx-font-family: "Montserrat Bold";
    -fx-text-alignment: left;
}

.button{
    -fx-pref-width: 200;
}
.label {
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-max-width: 200;       /* Stessa larghezza dei text-field */
    -fx-alignment: center-left; /* Allinea il testo a sinistra DENTRO la label */
}