.primary_color{
    -fx-background-color: #181818;
}

.secondary-color{
    -fx-background-color: #121212;
}



.top-border{
    -fx-border-color: #A1A1A1;
    -fx-border-width: 1 0 0 0;
}

.search-container{
    -fx-background-color: #fff;
    -fx-background-radius: 100;
}

.upgrade-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #fff;
    -fx-border-radius: 50;
}

.scroll-pane > .viewport{
    -fx-background-color: #181818;
}

.sidebar-item {
    -fx-cursor: hand;
    -fx-padding: 10;
    -fx-transition: 0.3s;
}

.sidebar-item:hover {
    -fx-border-color: #005b96;
    -fx-background-color: #414a4c;
    -fx-border-width: 0 0 0 5;
}

.scroll-button {
    -fx-background-radius: 50;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.scroll-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.clickable-icon {
    -fx-cursor: hand;
}
.clickable-icon:hover {
    -fx-opacity: 0.7;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
