.split-pane .split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #333333;
}

/* Rimuove i bordi esterni */
.split-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}